* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  :root {
    --primary-color: #a8babd;
    --secondary-color: #470303;
    --tertiary-color: #3b3330;
  }
  
  body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
  }
  
  /* header / navbar styles start */
  
  header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url('../images/unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
    }
  
  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }
  
  /* header / navbar styles end */
  
  
  /* footer styles start */
  footer {
    background: var(--primary-color);
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  
  footer h2 {
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
  }
  
  footer div {
    line-height: 1.5;
    text-align: right;
  }
  
  footer a {
    color: var(--secondary-color);
  }
  /* footer styles end */
  
  /* every section style */
  section {
    padding: 60px;
  }
  
  /* hero styles start */
  .hero {
    background-image: url('../images/unsplash.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    background-attachment: fixed;
    background-position: 80%;
  }
  
  .hero-excel {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: #a8babd;
    font-size: 24px;
    line-height: 1.2;
    text-shadow: 0 0 5px rgba(0, 0, 0);
  }
  
  .hero-excel h2 {
    font-style: italic;
    font-size: 55px;
    color: var(--primary-color);
    text-shadow: 0 0 5px rgba(0, 0, 0);
  }
  /* hero styles end */

  /* holler style start */  
  .form-input:focus {
    background-color: rgba(255,255,255, 1);
    outline: none;
  }
  /* holler style end */
    
  /* section styles start */
  .section-title {
    font-size: 48px;
    border-bottom: 3px solid;
    color: var(--secondary-color);
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    margin-top: 15px;
    width: 50%;
  }
  
  .primary-border {
    border-color: var(--primary-color);
  }
  
  .secondary-border {
    border-color: var(--tertiary-color);
  }
  /* section styles end */
  
  /* about me styles start */
    .intro p {
    line-height: 1.7;
    color: var(--tertiary-color);
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
  }
  /* about me styles end */
  
   /* work styles start */
   .pages {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: stretch;
  }
  
  .page {
    margin: 20px;
    flex: 1;
    background: var(--secondary-color);
    color: var(--primary-color);
  }
  
  .flex-grow {
    flex-grow: .5;
  }

  .flex-shrink {
    align-content: center;
  }

  .page img {
    width: 100%;
  }
  
  .page-disc {
    padding: 25px;
    line-height: 1.3;
  }
  
  .page-disc h3 {
    font-size: 28px;
  }
  
  .page-disc h4 {
    font-weight: lighter;
    font-size: 22px;
    margin-bottom: 15px;
  }
  
  .page-disc p {
    font-size: 17px;
  }
  /* work styles end */
  
  /* resume styles start */
  .dates { 
    background: var(--primary-color);
  }
  
  .date {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
  .date h3 {
    color: var(--secondary-color);
    font-size: 46px;
    flex: 1 30%;
  }
  
  .date-info {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .date-img {
    flex: 1 12%;
    margin-right: 20px;
  }
  
  .date-img img {
    max-width: 100%;
  }
  
  .date-text {
    flex: 12;
  }
  
  .date-text p {
    color: var(--tertiary-color);
    font-size: 18px;
  }
  
  .date-text h4 {
    font-size: 26px;
    line-height: 1.5;
    color: var(--secondary-color);
  }
  
  .date:not(:last-child) {
    border-bottom: 1px solid var(--tertiary-color);
  }
  
  /* resume styles end */
  
   
  /* reach out styles start */
  .contact {
    background: var(--secondary-color);
  }
  
  .contact h2 {
    color: var(--primary-color);
  }
  
  .contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .contact-info > * {
    flex: 1;
    margin: 15px;
  }
  
  .contact-info iframe {
    height: 400px;
  }
  
  .contact-info div {
    color: white;
  }
  
  .contact-info h3 {
    color: var(--primary-color);
    font-size: 32px;
  }
  
  .contact-info p, .contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
  }
  
  .contact-form input, .contact-form textarea {
    background-color: rgba(255,255,255, 0.75);
    border: 1px solid var(--secondary-color);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--secondary-color);
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
  }
  
  .contact-form input:focus, .contact-form textarea:focus {
    background-color: rgba(255,255,255, 1);
    outline: none;
  }
  
  .contact-form button {
    width: 100%;
    border: none;
    background: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    border-radius: 10px;
  }
  
  .contact-form button:hover {
    color: var(--primary-color);
    background: var(--secondary-color);
  }
  
  .contact-info a {
    color: var(--primary-color);
  }
  
  /* REACH OUT STYLES END */
  
  /* utilities */
  .text-left {
    text-align: left;
  }
  
  .text-right {
    text-align: right;
  }
  
  .flex-row {
    display: flex;
  }
  
  /* media queries for smaller computer screens and tablets */
  @media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
  }
  
  header h1 {
    width: 100%;
    text-align: center;
  }
  
  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }
  
  header nav ul li a {
    font-size: 20px;
  }
  
  footer h2, footer div {
    text-align: center;
    width: 100%;
    }
  
    .hero-excel, .hero-form {
      width: 100%;
    }
    
    .hero-excel {
      text-align: center;
    }
  
    .section-title {
      width: 80%;
    }
    
    .page {
      flex: 0 70%;
    }
    
    .contact-info iframe{
      flex: 1 100%;
    }
  }
  
  /* media queries for tablets and mobile phones */
  @media screen and (max-width: 768px) {
    section {
      padding: 30px 15px;
    }
  
    .date h3 {
      flex: 1 100%;
      text-align: center;
    }
  
    .date-info {
      flex: 2 100%;
      text-align: center;
      justify-content: center;
    }
  
    .date-text {
      flex: 100%;  
    }
  }
  
  /* media querys for mobile phones and smaller */
  @media screen and (max-width: 575px) {
  
    .hero-form button {
      width: 100%;
    }
  
    .section-title {
      width: 95%;
    }
  
    .intro p {
      width: 100%;
    }
  
    .page {
      flex: 0 100%;
    }
  
    .contact-info {
      text-align: center;
    }
  
    .contact-info > * {
      flex: 0 100%;
    }
    
    .contact-form {
      order: 3;
    }
  }
  
  